---
import logo from '../../public/tdc.png';
import eccomerce from '../../public/exomerce.png';
import virtualvent from '../../public/VirtualVentSVG.svg';
import Reds from '../../public/RedssAppSER.png';
import Tic from '../../public/Group.png';
---
<header class="flex justify-between items-center p-4 bg-[#fffdfd] shadow-lg sticky top-0 z-50">
    <!-- Logo -->
    <div class="logo">
      <img src={logo.src} alt="Transdigitalcoop" class="w-full size-12" />
    </div>
  
    <!-- Toggle Menu (Hamburger Icon) -->
    <div id="togglemenu" class="cursor-pointer md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </div>
  
    <!-- Exit Menu (Close Icon) -->
    <div id="exitmenu" class="hidden cursor-pointer md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </div>
  
    <!-- Navigation Links -->
    <div 
    id="navlinks" 
    class="hidden md:flex flex-col md:flex-row md:space-x-4 absolute md:relative top-20 md:top-auto left-0 md:left-auto bg-[#fffdfd] md:bg-transparent text-sm md:text-md w-full md:w-auto text-center md:text-start p-4 md:p-0 shadow-lg md:shadow-none"
>
    <ul class="flex flex-col gap-4 md:flex-row md:gap-6 w-full text-center md:text-start">
        <li><a href="/" class="hover:text-blue-500 transition-all duration-300">Nosotros</a></li>
        <li><a href="/" class="hover:text-blue-500 transition-all duration-300">Planes y Precios</a></li>
        <li><a href="/" class="hover:text-blue-500 transition-all duration-300">Contáctanos</a></li>
        <li><a href="/" class="hover:text-blue-500 transition-all duration-300">Rutas de aprendizaje</a></li>
        <li><a href="/" class="hover:text-blue-500 transition-all duration-300">Guías</a></li>
        <li><a href="/" class="hover:text-blue-500 transition-all duration-300">Inicio</a></li>
    </ul>
</div>

</header>
  

<script>
    // Seleccionar elementos
    const toggleMenu = document.getElementById("togglemenu");
    const exitMenu = document.getElementById("exitmenu");
    const navLinks = document.getElementById("navlinks");
  
    // Mostrar el menú
    toggleMenu.addEventListener("click", () => {
      navLinks.classList.remove("hidden");
      toggleMenu.classList.add("hidden");
      exitMenu.classList.remove("hidden");
    });
  
    // Ocultar el menú
    exitMenu.addEventListener("click", () => {
      navLinks.classList.add("hidden");
      toggleMenu.classList.remove("hidden");
      exitMenu.classList.add("hidden");
    });
  </script>
  

<section id="bg">
    <div class="flex flex-col md:flex-row items-start justify-between w-full px-10 py-20 items-center ">
        <div class="md:w-3/4 px-4">
            <h1 class="text-3xl font-bold flex sm:text-4xl text-start md:text-5xl  text-[#1e2b18] text-center md:text-start">Bienvenid@ a TransDigitalCoop</h1>
            <h3 class="text-md sm:text-xl py-4 text-gray-600 text-left">Conozca la transformación digital en la economía solidaria y el sector cooperativo, mejorando la colaboración y aprovechando la tecnología para el éxito sostenible</h3>    
        </div>
        <div class="md:w-2/4 px-4 mt-10 md:mt-0 flex flex-col gap-8 text-center  rounded-lg bg-white shadow p-4 ">
            <h2 class="text-lg md:text-2xl font-bold text-[#1e2b18]">Quieres que te contactemos?</h2>
        <form action="" class="flex flex-col gap-4">
            <div class="flex flex-col-2 gap-4 w-full">  
                <input  placeholder="Nombre" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                  
                <input type="text" placeholder="Apellido" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                
            </div>
            <input type="mail" placeholder="Correo" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <input type="phone" placeholder="Celular" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <select class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                <option disabled selected>Seleccione su ocupación</option>
                <option>Estudiante</option>
                <option>Profesional</option>
                <option>Emprendedor</option>
                <option>Otro</option>
            </select>
            <span>Deja tus datos y uno de nuestros asesores se contactará con usted</span>
            <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300" >Enviar</button>
        </form>
    
        </div>
    </div>
    
    <div class="flex flex-col md:flex-row items-start justify-between w-full px-10 py-20 items-center z-0">
        <div class="md:w-3/4 px-4 flex flex-col gap-4 text-start">
            <h2 class="text-3xl font-bold text-start md:text-5xl">
                ¡Aprende con <br>    TransDigitalCoop!
            </h2>
            <h3 class="text-md  text-start md:text-lg text-gray-600">
                Descarga ya nuestras guías y aprende con nosotros.
            </h3>
            <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300 max-w-40 ">
                Ver Ahora
            </button>
           </div>
        <div class="md:w-3/4 px-4 mt-10 md:mt-0 flex flex-col gap-8 text-center  rounded-lg bg-white shadow-2xl p-4 hover:scale-110 transition-all duration-300 ease-in-out">
           <img src={eccomerce.src} alt="Eccomerce" class="w-full h-auto " />
        </div>
    </div>
    <div class="flex flex-col items-start  w-full  py-5 items-center">
        <h2 class="text-3xl font-bold text-start md:text-5xl text-[#1e2b18]">¿Quienes somos?</h2> <br>
        <div class="video-container">
            <iframe 
                
                src="https://www.youtube.com/embed/lpiAgSoD-P8?controls=1&autoplay=0&mute=0&rel=0&modestbranding=1" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen 
                loading="lazy"
                class=" md:w-3/4 px-4 mt-10 md:mt-0 rounded-md bg-white p-4 shadow-2xl  hover:scale-80 transition-all duration-300 ease-in-out ">
                 
            </iframe>
        </div>
        <br>
        <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300 max-w-60 ">
            Conoce más aquí
        </button>
        
    </div>

    <div class="flex flex-col items-start  w-full px-10 py-5 items-center">
        <h2 class="text-3xl font-bold text-start md:text-5xl">Nuestros Servicios</h2>
    </div>
    
<div class="flex flex-wrap  md:flex-col-3 sm:pb-6 items-center justify-around ">
    <div class="flex flex-wrap justify-center gap-2 p-4">
    <div class="max-w-sm max-h-xl bg-white border border-gray-200 rounded-lg shadow-2xl  bg-[#fffdfd]>
        <a href="#">
        <div class="flex justify-center items-center">
            <img 
            src={virtualvent.src} 
            alt="logo Virtual Vent"
            class="w-64 h-64 object-scale-down transition-transform duration-300 hover:scale-105 p-4"
        />
        </div>
            
        </a>
        <div class="p-5">
            <a href="#">
                <hr class="p-2">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Virtual Vent</h5>
            </a>
            <p class="mb-3 font-normal text-gray-600 text-sm" >Plataforma de comercio electrónico enfocada a potenciar las ventas de las cooperativas.</p>
            <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300 max-w-60 flex flex-row gap-2 items-center">
                Ver más
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </button>
            
        </div>
    </div>
</div>

<div class="flex flex-wrap justify-center gap-2 p-4">
    <div class="max-w-sm max-h-xl bg-white border border-gray-200 rounded-lg shadow-2xl bg-[#fffdfd]>
        <a href="#">
        <div class="flex justify-center items-center">
            <img 
            src={Tic.src} 
            alt="logo Virtual Vent"
            class="w-64 h-64 object-scale-down  transition-transform duration-300 hover:scale-105 p-4"
        />
        </div>
            
        </a>
        <div class="p-5">
            <a href="#">
                <hr class="p-2">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Modelo TIC
                </h5>
            </a>
            <p class="mb-3 font-normal text-gray-600 text-sm" >Modelo de incorporación de las TIC para ayudar a las MiPymes a transformarse digitalmente.</p>
            <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300 max-w-60 flex flex-row gap-2 items-center">
                Ver más
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </button>
            
        </div>
    </div>
</div>

<div class="flex flex-wrap justify-center gap-2 p-4">
    <div class="max-w-sm max-h-xl bg-white border border-gray-200 rounded-lg shadow-2xl bg-[#fffdfd]>
        <a href="#">
        <div class="flex justify-center items-center">
            <img 
            src={Reds.src} 
            alt="logo Virtual Vent"
            class="w-64 h-64 object-scale-down transition-transform duration-300 hover:scale-105 p-4"
        />
        </div>
            
        </a>
        <div class="p-5">
            <a href="#">
                <hr class="p-2">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">RedssApp</h5>
            </a>
            <p class="mb-3 font-normal text-gray-600 text-sm" >Red de Integración Económica Digital de las Organizaciones Solidarias en Córdoba.</p>
            <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300 max-w-60 flex flex-row gap-2 items-center">
                Ver más
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </button> 
        </div>
    </div>
</div>
</div>
<footer class="flex flex-col items-center   shadow-lg ">
    <p class="text-sm text-gray-600 flex flex-wrap justify-center gap-2 p-4 text-center">© 2024 TransDigitalCoop. Todos los derechos reservados.</p>
    <div class="flex gap-6 flex-row justify-center items-center ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="url(#a)" height="20" width="20"><defs><linearGradient x1="50%" x2="50%" y1="97.078%" y2="0%" id="a"><stop offset="0%" stop-color="#0062E0"/><stop offset="100%" stop-color="#19AFFF"/></linearGradient></defs><path d="M15 35.8C6.5 34.3 0 26.9 0 18 0 8.1 8.1 0 18 0s18 8.1 18 18c0 8.9-6.5 16.3-15 17.8l-1-.8h-4l-1 .8z"/><path fill="#FFF" d="m25 23 .8-5H21v-3.5c0-1.4.5-2.5 2.7-2.5H26V7.4c-1.3-.2-2.7-.4-4-.4-4.1 0-7 2.5-7 7v4h-4.5v5H15v12.7c1 .2 2 .3 3 .3s2-.1 3-.3V23h4z"/></svg>
        <svg viewBox="0 0 256 180" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134Z" fill="red"/><path fill="#FFF" d="m102.421 128.06 66.328-38.418-66.328-38.418z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256"><path fill="#fff" d="M128 23.064c34.177 0 38.225.13 51.722.745 12.48.57 19.258 2.655 23.769 4.408 5.974 2.322 10.238 5.096 14.717 9.575 4.48 4.479 7.253 8.743 9.575 14.717 1.753 4.511 3.838 11.289 4.408 23.768.615 13.498.745 17.546.745 51.723 0 34.178-.13 38.226-.745 51.723-.57 12.48-2.655 19.257-4.408 23.768-2.322 5.974-5.096 10.239-9.575 14.718-4.479 4.479-8.743 7.253-14.717 9.574-4.511 1.753-11.289 3.839-23.769 4.408-13.495.616-17.543.746-51.722.746-34.18 0-38.228-.13-51.723-.746-12.48-.57-19.257-2.655-23.768-4.408-5.974-2.321-10.239-5.095-14.718-9.574-4.479-4.48-7.253-8.744-9.574-14.718-1.753-4.51-3.839-11.288-4.408-23.768-.616-13.497-.746-17.545-.746-51.723 0-34.177.13-38.225.746-51.722.57-12.48 2.655-19.258 4.408-23.769 2.321-5.974 5.095-10.238 9.574-14.717 4.48-4.48 8.744-7.253 14.718-9.575 4.51-1.753 11.288-3.838 23.768-4.408 13.497-.615 17.545-.745 51.723-.745M128 0C93.237 0 88.878.147 75.226.77c-13.625.622-22.93 2.786-31.071 5.95-8.418 3.271-15.556 7.648-22.672 14.764C14.367 28.6 9.991 35.738 6.72 44.155 3.555 52.297 1.392 61.602.77 75.226.147 88.878 0 93.237 0 128c0 34.763.147 39.122.77 52.774.622 13.625 2.785 22.93 5.95 31.071 3.27 8.417 7.647 15.556 14.763 22.672 7.116 7.116 14.254 11.492 22.672 14.763 8.142 3.165 17.446 5.328 31.07 5.95 13.653.623 18.012.77 52.775.77s39.122-.147 52.774-.77c13.624-.622 22.929-2.785 31.07-5.95 8.418-3.27 15.556-7.647 22.672-14.763 7.116-7.116 11.493-14.254 14.764-22.672 3.164-8.142 5.328-17.446 5.95-31.07.623-13.653.77-18.012.77-52.775s-.147-39.122-.77-52.774c-.622-13.624-2.786-22.929-5.95-31.07-3.271-8.418-7.648-15.556-14.764-22.672C227.4 14.368 220.262 9.99 211.845 6.72c-8.142-3.164-17.447-5.328-31.071-5.95C167.122.147 162.763 0 128 0Zm0 62.27C91.698 62.27 62.27 91.7 62.27 128c0 36.302 29.428 65.73 65.73 65.73 36.301 0 65.73-29.428 65.73-65.73 0-36.301-29.429-65.73-65.73-65.73Zm0 108.397c-23.564 0-42.667-19.103-42.667-42.667S104.436 85.333 128 85.333s42.667 19.103 42.667 42.667-19.103 42.667-42.667 42.667Zm83.686-110.994c0 8.484-6.876 15.36-15.36 15.36-8.483 0-15.36-6.876-15.36-15.36 0-8.483 6.877-15.36 15.36-15.36 8.484 0 15.36 6.877 15.36 15.36Z"/></svg>
    </div>
</footer>


    
</section>

  <style>
#bg {   
    background: linear-gradient(to bottom left, #ffe4e6, #ccfbf1);
}

    .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
}

/* Tamaño predeterminado (pantallas grandes como PC) */
.video-container iframe {
    width: 1080px;
    height: 608px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.video-container iframe:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .video-container iframe {
        width: 90%;
        max-width: 600px;
        height: 200px;
        margin: 0 auto;
        display: block;
    }
}

  </style>



