---
import logo from '../../public/tdc.png';
import eccomerce from '../../public/exomerce.png';
import virtualvent from '../../public/VirtualVentSVG.svg';
import Reds from '../../public/RedssAppSER.png';
import Tic from '../../public/Group.png';
import Footer from './footer.astro';

const cards = [
    {
        title: "Virtual Vent",
        description: "Plataforma de comercio electrónico enfocada a potenciar las ventas de las cooperativas.",
        img: virtualvent.src,
    },
    {
        title: "RedssApp",
        description: "Red de Integración Económica Digital de las Organizaciones Solidarias en Córdoba.",
        img: Reds.src,
    },
    {
        title: "Modelo TIC",
        description: "Modelo de incorporación de las TIC para ayudar a las MiPymes a transformarse digitalmente.",
        img: Tic.src,
    },
  
];

---



<section id="bg">
    <div class="flex flex-col md:flex-row items-start justify-between w-full px-10 py-10 items-center ">
        <div class="md:w-3/4 px-4">
            <h1 class="text-3xl font-bold flex sm:text-4xl text-start md:text-6xl  text-[#1e2b18] text-center md:text-start">Bienvenid@ a <br> TransDigitalCoop</h1>
            <h3 class="text-md md:text-lg py-4 text-gray-600 text-left">Conozca la transformación digital en la economía solidaria y el sector cooperativo, mejorando la colaboración y aprovechando la tecnología para el éxito sostenible</h3>    
        </div>
        <div class="md:w-2/4 px-4 mt-10 md:mt-0 flex flex-col gap-8 text-center  rounded-lg bg-white shadow p-4 ">
            <h2 class="text-lg md:text-2xl font-bold text-[#1e2b18]">Quieres que te contactemos?</h2>
        <form action="" class="flex flex-col gap-4">
            <div class="flex flex-col-2 gap-4 w-full">  
                <input  placeholder="Nombre" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                  
                <input type="text" placeholder="Apellido" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                
            </div>
            <input type="mail" placeholder="Correo" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <input type="phone" placeholder="Celular" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
            <select class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white  focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                <option disabled selected>Seleccione su ocupación</option>
                <option>Estudiante</option>
                <option>Profesional</option>
                <option>Emprendedor</option>
                <option>Otro</option>
            </select>
            <span>Deja tus datos y uno de nuestros asesores se contactará con usted</span>
            <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300" >Enviar</button>
        </form>
    
        </div>
    </div>
    
    <div class="flex flex-col md:flex-row items-start justify-between w-full px-10 py-20 items-center">
        <div class="md:w-3/4 px-4 flex flex-col gap-4 text-start">
            <h2 class="text-3xl font-bold text-start md:text-5xl ">
                ¡Aprende con <br>    TransDigitalCoop!
            </h2>
            <h3 class="text-md  text-start md:text-lg text-gray-600">
                Descarga ya nuestras guías y aprende con nosotros.
            </h3>
            <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300 max-w-40 ">
                Ver Ahora
            </button>
           </div>
        <div class="md:w-3/4 px-4 mt-10 md:mt-0 flex flex-col gap-8 text-center  rounded-lg bg-white shadow-2xl p-4 hover:scale-110 transition-all duration-300 ease-in-out">
           <img src={eccomerce.src} alt="Eccomerce" class="w-full h-auto " />
        </div>
    </div>
    <div class="flex flex-col items-start  w-full  py-5 items-center">
        <h2 class="text-3xl font-bold text-start md:text-5xl text-[#1e2b18]">¿Quienes somos?</h2> <br>
        <div class="video-container">
            <iframe 
                
                src="https://www.youtube.com/embed/lpiAgSoD-P8?controls=1&autoplay=0&mute=0&rel=0&modestbranding=1" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen 
                loading="lazy"
                class=" md:w-3/4 px-4 mt-10 md:mt-0 rounded-md bg-white p-4 shadow-2xl  hover:scale-80 transition-all duration-300 ease-in-out ">
                 
            </iframe>
        </div>
        <br>
        <button class="bg-[#1e2b18] text-[#fffdfd] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300 max-w-60 ">
            Conoce más aquí
        </button>
        
    </div>

    <div class="flex flex-col items-start  w-full px-10 py-5 items-center">
        <h2 class="text-3xl font-bold text-start md:text-5xl">Nuestros Servicios</h2>
    </div>


    
    
    <div class="py-10 flex flex-col items-center">
        <div class="text-center">
            <h2 class="text-xl md:text-5xl font-bold">¡Aprende con TransDigitalCoop!</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6 justify-center">
            {cards.map((card) => (
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-2xl">
                    <div class="flex justify-center items-center p-4">
                        <img 
                            src={card.img} 
                            alt={`Imagen de ${card.title}`} 
                            class="w-64 h-64 object-scale-down transition-transform duration-300 hover:scale-105"
                        />
                    </div>
                    <div class="p-5">
                        <h5 class="text-2xl font-bold text-gray-900 mb-2">{card.title}</h5>
                        <p class="text-gray-600 text-sm mb-3">{card.description}</p>
                        <button class="bg-[#1e2b18] text-white font-bold py-2 px-4 rounded-lg shadow-md hover:bg-[#0c110a] transition-all duration-300 flex items-center gap-2">
                            Descargar
                            <svg class="rtl:rotate-180 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </button>
                    </div>
                </div>
            ))}
        </div>
    </div>
<Footer />



    
</section>

  <style>
#bg {   
    background: linear-gradient(to bottom left, #ffe4e6, #ccfbf1);
}

    .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
}

/* Tamaño predeterminado (pantallas grandes como PC) */
.video-container iframe {
    width: 1080px;
    height: 608px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.video-container iframe:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .video-container iframe {
        width: 90%;
        max-width: 600px;
        height: 200px;
        margin: 0 auto;
        display: block;
    }
}

  </style>



